/HotFixer/simulator
/HotFixer/build
/HotFixer/updateServer
/HotFixer/frameworks/runtime-src/proj.android/build
/HotFixer/frameworks/runtime-src/proj.android/assets
/HotFixer/frameworks/runtime-src/proj.android/obj
/HotFixer/frameworks/runtime-src/proj.android/libs/armeabi
/HotFixer/frameworks/runtime-src/proj.android/libs/armeabi-v7a
/HotFixer/frameworks/runtime-src/proj.android/libs/x86
/HotFixer/frameworks/runtime-src/proj.android-studio/build
/HotFixer/frameworks/runtime-src/proj.android-studio/app/assets
/HotFixer/frameworks/runtime-src/proj.android-studio/app/obj
/HotFixer/frameworks/runtime-src/proj.android-studio/app/build
/HotFixer/frameworks/runtime-src/proj.android-studio/app/jniLibs
/HotFixer/frameworks/runtime-src/proj.android-studio/app/libs/armeabi
/HotFixer/frameworks/runtime-src/proj.android-studio/app/libs/armeabi-v7a
/HotFixer/frameworks/runtime-src/proj.android-studio/app/libs/x86
/HotFixer/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
/HotFixer/frameworks/runtime-src/proj.ios_mac/build
/HotFixer/frameworks/cocos2d-x/build/build
/HotFixer/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/build

/HotFixer/frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/Berwin.xcuserdatad
/HotFixer/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/cocos2d_js_bindings.xcodeproj/HotFixer/xcuserdata/Berwin.xcuserdatad
/HotFixer/frameworks/runtime-src/proj.ios_mac/HotFixer.xcodeproj/project.xcworkspace/xcuserdata/Berwin.xcuserdatad
/HotFixer/frameworks/runtime-src/proj.ios_mac/HotFixer.xcodeproj/xcuserdata/Berwin.xcuserdatad

/HotFixer/.idea/workspace.xml